body {
	background-color: #222;
	font-family: 'Consolas', serif;
}

.profile-picture {
	border-radius: 300rem;
	height: 180px
}

.text-primary {
	color: #75b8ff !important;
}

.text-underline {
	text-decoration: underline;
}

.carousel-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.carousel-item.active {
	display: inline-table;
	justify-content: center;
}

.progress {
	height: 20px;
	font-size: 16px;
}

.carousel-image-container {
	width: 250px;
	height: 265px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	/* background-color: black; */
}

.image {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.image-container {
	background-color:gray;
	height: 300px;
}

.btn-outline-secondary {
	color: white;
	border-color: white;
}

.btn-outline-secondary:hover {
	color: black;
	background-color: white;
}

.navbar-bassel {
	display: inline-flex;
	width: 150px;
}

.social-media {
	font-size: 18px;
}