body {
	background-color: #222;
	font-family: 'Consolas', serif;
}

.profile-picture {
	border-radius: 300px;
	height: 180px
}

.text-primary {
	color: #75b8ff !important;
}

.text-underline {
	text-decoration: underline;
}

.carousel-image {
	height: 100%;
	width: 100%;
}

.progress {
	height: 20px;
	font-size: 16px;
}