body {
	background-color: #222;
	font-family: 'Consolas', serif;
}

::selection {
	background: #3498db78;
  }
  ::-moz-selection {
	background: #3498db78;
  }

.profile-picture {
	border-radius: 300rem;
	height: 180px;
	box-shadow: 0px 0px 10px #fff;
}

.text-primary {
	color: #75b8ff !important;
}

.text-underline {
	text-decoration: underline;
}

.carousel-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.progress {
	height: 20px;
	font-size: 16px;
}

.image {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.image-container {
	background-color:gray;
	height: 300px;
}

.btn-outline-secondary {
	color: white;
	border-color: white;
}

.btn-outline-secondary:hover {
	color: black;
	background-color: white;
}

.btn-outline-secondary-hover {
	color: black;
	background-color: white;
}

.navbar-bassel {
	display: inline-flex;
	width: 150px;
}

.social-media {
	font-size: 18px;
}

.work-logo {
	height: 100px;
}

.work-image {
	height: 300px;
	width:auto;
}

.carousel-cell {
	width: 100%; /* full width */
	height: 200px;
	background: #222;
	/* center images in cells with flexbox */
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .carousel.is-fullscreen .carousel-cell {
	height: 100%;
  }
  
  .carousel-cell img {
	display: block;
	max-height: 100%;
	max-width: 100%;
  }

  .jumbotron {
	  padding: 2rem 4vw;
	  box-shadow: 0px 0px 2px #fff;
  }

  .navbar {
	border-bottom: 1px solid #ffffff6b;
  }

  .card {
	box-shadow: 0px 0px 2px #fff;
	transition: box-shadow 0.3s;
  }

  .glow-hover:hover {
	box-shadow: 0px 0px 10px #fff;
	transition: box-shadow 0.3s;
	cursor: pointer;
  }

  .htv-image-cell {
	  height: 300px;
  }